@charset "UTF-8";
@font-face {
  font-family: "Poppins-Light";
  src: url("fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "fontello";
  src: url("fonts/fontello.ttf") format("truetype");
}
/* line 44, ../sass/_fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 72, ../sass/_fonts.scss */
.icon-phone:before {
  content: '\e800';
}

/* 'юаА' */
/* line 73, ../sass/_fonts.scss */
.icon-mail:before {
  content: '\e801';
}

/* 'юаБ' */
/* line 74, ../sass/_fonts.scss */
.icon-gift:before {
  content: '\e802';
}

/* 'юаВ' */
/* line 75, ../sass/_fonts.scss */
.icon-search:before {
  content: '\e803';
}

/* 'юаГ' */
/* line 76, ../sass/_fonts.scss */
.icon-heart:before {
  content: '\e804';
}

/* 'юаД' */
/* line 77, ../sass/_fonts.scss */
.icon-star:before {
  content: '\e805';
}

/* 'юаЕ' */
/* line 78, ../sass/_fonts.scss */
.icon-instagram-circled:before {
  content: '\f05e';
}

/* 'яБЮ' */
/* line 79, ../sass/_fonts.scss */
.icon-twitter:before {
  content: '\f309';
}

/* 'яМЙ' */
/* line 80, ../sass/_fonts.scss */
.icon-twitter-circled:before {
  content: '\f30a';
}

/* 'яМК' */
/* line 81, ../sass/_fonts.scss */
.icon-facebook:before {
  content: '\f30c';
}

/* 'яММ' */
/* line 82, ../sass/_fonts.scss */
.icon-facebook-circled:before {
  content: '\f30d';
}

/* 'яМН' */
/* line 83, ../sass/_fonts.scss */
.icon-gplus-circled:before {
  content: '\f310';
}

/* 'яМР' */
/* line 84, ../sass/_fonts.scss */
.icon-instagram:before {
  content: '\f32d';
}

/* 'яМн' */
/* ------------- MIXINS --------------*/
/* line 13, ../sass/_mixins.scss */
.confines-width {
  width: 90%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* line 123, ../sass/_mixins.scss */
.flex, #header .logo, #footer .logo, #header .confines-width, .page-auth, .wrapper .first-screen, .wrapper .meet-the-team .team .partner, .wrapper .products .products-gallery .product .caption, .wrapper #footer .columns-data .contacts-data .contact-line {
  display: -webkit-flex;
  display: flex;
}

/* line 1, ../sass/_header.scss */
#header, #footer {
  width: 100%;
}
/* line 3, ../sass/_header.scss */
#header .logo, #footer .logo {
  -webkit-align-items: center;
  align-items: center;
}
/* line 6, ../sass/_header.scss */
#header .logo .logo-text, #footer .logo .logo-text {
  text-transform: uppercase;
  font: 1.125rem "Poppins-SemiBold", sans-serif;
  color: white;
  margin-left: 12px;
  letter-spacing: 3.4px;
}

/* line 15, ../sass/_header.scss */
#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
/* line 20, ../sass/_header.scss */
#header .confines-width {
  height: 94px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 24, ../sass/_header.scss */
#header .confines-width #burger {
  width: 30px;
  height: 22.5px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
/* line 32, ../sass/_header.scss */
#header .confines-width #burger span {
  display: block;
  position: absolute;
  height: 4.5px;
  width: 50%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 46, ../sass/_header.scss */
#header .confines-width #burger span:nth-child(even) {
  left: 50%;
}
/* line 50, ../sass/_header.scss */
#header .confines-width #burger span:nth-child(odd) {
  left: 0px;
}
/* line 54, ../sass/_header.scss */
#header .confines-width #burger span:nth-child(1), #header .confines-width #burger span:nth-child(2) {
  top: 0px;
}
/* line 58, ../sass/_header.scss */
#header .confines-width #burger span:nth-child(3), #header .confines-width #burger span:nth-child(4) {
  top: 9px;
}
/* line 62, ../sass/_header.scss */
#header .confines-width #burger span:nth-child(5), #header .confines-width #burger span:nth-child(6) {
  top: 18px;
}

/* line 70, ../sass/_header.scss */
body.open-menu {
  overflow: hidden;
}
/* line 74, ../sass/_header.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(1), body.open-menu .wrapper #header .confines-width #burger span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 79, ../sass/_header.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(2), body.open-menu .wrapper #header .confines-width #burger span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 84, ../sass/_header.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(1) {
  left: 2.5px;
  top: 4.5px;
}
/* line 89, ../sass/_header.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(2) {
  left: calc(50% - 2.5px);
  top: 3.5px;
}
/* line 94, ../sass/_header.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
/* line 99, ../sass/_header.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
/* line 104, ../sass/_header.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(5) {
  left: 4px;
  top: 13.5px;
}
/* line 109, ../sass/_header.scss */
body.open-menu .wrapper #header .confines-width #burger span:nth-child(6) {
  left: calc(50% - 3px);
  top: 13.5px;
}
/* line 114, ../sass/_header.scss */
body.open-menu .wrapper .main-navigation {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* line 1, ../sass/_auth.scss */
.page-auth {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
/* line 9, ../sass/_auth.scss */
.page-auth:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}
/* line 18, ../sass/_auth.scss */
.page-auth .container {
  position: relative;
  z-index: 1;
  width: 95%;
  max-width: 500px;
  top: -50px;
}
/* line 24, ../sass/_auth.scss */
.page-auth .container .tabs {
  position: relative;
  width: 100%;
}
/* line 27, ../sass/_auth.scss */
.page-auth .container .tabs input.tab-selector {
  display: none;
}
/* line 29, ../sass/_auth.scss */
.page-auth .container .tabs input.tab-selector:checked + label {
  background: rgba(255, 255, 255, 0.6);
  color: #549695;
}
/* line 34, ../sass/_auth.scss */
.page-auth .container .tabs label.tab-label {
  cursor: pointer;
  width: 130px;
  padding: 13px 5px;
  display: inline-block;
  text-align: center;
  background: #549695;
  color: white;
  font: bold 20px "Poppins-Light", sans-serif;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 44, ../sass/_auth.scss */
.page-auth .container .tabs label.tab-label:hover {
  background: #48807F;
}
/* line 47, ../sass/_auth.scss */
.page-auth .container .tabs label.tab-label.tab-label-2 {
  margin-left: -5px;
}
@media (min-width: 420px) {
  /* line 50, ../sass/_auth.scss */
  .page-auth .container .tabs label.tab-label.tab-label-2 {
    float: right;
    margin-left: 0;
  }
}
@media (min-width: 420px) {
  /* line 57, ../sass/_auth.scss */
  .page-auth .container .tabs label.tab-label {
    width: 50%;
  }
}
/* line 62, ../sass/_auth.scss */
.page-auth .container .tabs input.tab-selector-1:checked ~ .content .sign-in-form,
.page-auth .container .tabs input.tab-selector-2:checked ~ .content .sign-up-form {
  z-index: 100;
  opacity: 1;
  transition: all ease-out 0.33s 0.23s;
}
/* line 68, ../sass/_auth.scss */
.page-auth .container .tabs .content {
  background: rgba(255, 255, 255, 0.6);
  min-height: 255px;
  padding: 20px 5%;
  position: relative;
}
/* line 73, ../sass/_auth.scss */
.page-auth .container .tabs .content form {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: -1;
  width: 90%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all ease-out 0.2s 0.1s;
}

/* line 90, ../sass/_auth.scss */
.row-input .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 7px 0;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  padding-top: 1em;
}
/* line 99, ../sass/_auth.scss */
.row-input .input.date {
  max-width: 250px;
}
/* line 104, ../sass/_auth.scss */
.row-input .input__field {
  position: relative;
  display: block;
  float: right;
  border: none;
  border-radius: 0;
  font: 14px "Poppins-Light", sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  padding: 0.5em 0em 0.6em;
  width: 100%;
  background: transparent;
  color: #9da8b2;
}
/* line 118, ../sass/_auth.scss */
.row-input textarea.input__field {
  height: 120px;
  overflow: auto;
  resize: none;
}
/* line 125, ../sass/_auth.scss */
.row-input .input__field:focus {
  outline: none;
}
/* line 129, ../sass/_auth.scss */
.row-input .input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  color: #696969;
  font-family: "Poppins-Light", sans-serif;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  position: absolute;
  top: 0;
  font-size: 16px;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 155, ../sass/_auth.scss */
.row-input .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
/* line 162, ../sass/_auth.scss */
.row-input textarea ~ .graphic {
  stroke-width: 0.5px;
}
/* line 165, ../sass/_auth.scss */
.row-input .graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/* line 178, ../sass/_auth.scss */
.row-input .icon {
  color: #ddd;
  font-size: 150%;
}
/* line 183, ../sass/_auth.scss */
.row-input .input--filled .input__label {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
/* line 189, ../sass/_auth.scss */
.row-input .input--filled .graphic {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

/* line 7, ../sass/app.scss */
.subtitle {
  font: 1.125rem "Poppins-SemiBold", sans-serif;
  text-transform: uppercase;
  color: #303030;
  letter-spacing: 3.7px;
}

/* line 14, ../sass/app.scss */
.main-idea-of-block {
  font: 2.1875rem "Poppins-Bold", sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0;
  line-height: 1.05;
}

/* line 1, ../sass/_contact-us.scss */
.contact-us {
  padding: 20px 0 0;
}
/* line 3, ../sass/_contact-us.scss */
.contact-us #google-map {
  height: 400px;
  width: 100%;
  margin: 20px 0 0;
}
/* line 8, ../sass/_contact-us.scss */
.contact-us .subtitle {
  margin-bottom: 10px;
}
/* line 12, ../sass/_contact-us.scss */
.contact-us .contact-form-container #contact-form {
  max-width: 500px;
  padding: 0px 0 60px;
}
/* line 15, ../sass/_contact-us.scss */
.contact-us .contact-form-container #contact-form button {
  background: #1BF1AD;
  border: none;
  color: white;
  width: 150px;
  height: 40px;
  font: 1rem "Poppins-Regular", sans-serif;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 26, ../sass/_contact-us.scss */
.contact-us .contact-form-container #contact-form button:hover {
  border-radius: 20px;
}

/* line 24, ../sass/app.scss */
html {
  font-size: 80%;
}

/* line 27, ../sass/app.scss */
.content-main-page {
  background: url(../images/lines.png);
  background-position: center;
}

/* line 31, ../sass/app.scss */
.wrapper {
  letter-spacing: 2px;
  line-height: 1.571;
  background: white;
  font-family: "Poppins-Regular", sans-serif, sans-serif;
}
/* line 36, ../sass/app.scss */
.wrapper .first-screen {
  height: 61vh;
  min-height: 300px;
  position: relative;
  background: url(../images/first-screen-bg.jpg);
  padding: 0 5%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 46, ../sass/app.scss */
.wrapper .first-screen .main-title {
  max-width: 670px;
  text-transform: uppercase;
  font: 2.375rem "Poppins-Regular", sans-serif;
  line-height: 1.2;
  margin-top: 1.5625rem;
  letter-spacing: 7.5px;
}
/* line 54, ../sass/app.scss */
.wrapper .first-screen .main-navigation {
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
  background: white;
  min-height: 100vh;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 64, ../sass/app.scss */
.wrapper .first-screen .main-navigation .main-navigation-container {
  list-style: none;
  width: 100%;
  padding: 1em;
}
/* line 68, ../sass/app.scss */
.wrapper .first-screen .main-navigation .main-navigation-container li {
  padding: 0 .4em;
  margin: 1.4em 1.1em;
}
/* line 72, ../sass/app.scss */
.wrapper .first-screen .main-navigation .main-navigation-container a {
  color: #303030;
  font: 1rem "Poppins-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}
/* line 78, ../sass/app.scss */
.wrapper .first-screen .main-navigation .main-navigation-container li.active a {
  font-family: "Poppins-Bold", sans-serif;
}
/* line 85, ../sass/app.scss */
.wrapper .our-featured-work {
  text-align: center;
  padding-bottom: 40px;
}
/* line 88, ../sass/app.scss */
.wrapper .our-featured-work .subtitle {
  width: 90%;
  margin: 0 auto 1.0625rem;
}
/* line 92, ../sass/app.scss */
.wrapper .our-featured-work .main-idea-of-block {
  width: 90%;
  max-width: 1100px;
  margin: 1.0625rem auto 5.25rem;
}
/* line 97, ../sass/app.scss */
.wrapper .our-featured-work #gift-slider {
  position: relative;
}
/* line 99, ../sass/app.scss */
.wrapper .our-featured-work #gift-slider .slide {
  padding: 0 10px;
  border: none;
  outline: none;
}
/* line 103, ../sass/app.scss */
.wrapper .our-featured-work #gift-slider .slide img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}
/* line 1, ../sass/_about-us.scss */
.wrapper .text-block {
  width: 87%;
  max-width: 700px;
  margin: 0 auto 4.15%;
  padding: 5.15% 0 1.5rem;
  text-align: center;
}
/* line 7, ../sass/_about-us.scss */
.wrapper .text-block .subtitle {
  margin-bottom: 1.75rem;
}
/* line 10, ../sass/_about-us.scss */
.wrapper .text-block .text {
  font: 1.375rem "Poppins-Light", sans-serif;
  color: #666;
  letter-spacing: 1.6px;
}
/* line 17, ../sass/_about-us.scss */
.wrapper .our-ideology .columns {
  position: relative;
}
/* line 19, ../sass/_about-us.scss */
.wrapper .our-ideology .columns:before {
  content: '';
  width: 40px;
  height: 40px;
  background: transparent;
  position: absolute;
  top: 15%;
  right: 6%;
  border-radius: 50%;
  border: 7px solid #E98457;
}
/* line 30, ../sass/_about-us.scss */
.wrapper .our-ideology .columns:after {
  content: '';
  width: 75px;
  height: 75px;
  background: transparent;
  position: absolute;
  top: 4%;
  right: 22%;
  border-radius: 50%;
  border: 9px solid #EBEBEB;
}
/* line 41, ../sass/_about-us.scss */
.wrapper .our-ideology .columns .left {
  margin-top: 13em;
  position: relative;
  z-index: 1;
  background-image: url(../images/ideology.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 47, ../sass/_about-us.scss */
.wrapper .our-ideology .columns .left .tagline {
  font: 1.625rem "Poppins-SemiBold", sans-serif;
  color: #303030;
  width: 80%;
  position: relative;
  z-index: 2;
  max-width: 250px;
  padding: 3.8em .5em .5em 0;
  line-height: 1.2;
  letter-spacing: 0px;
  min-height: 300px;
  margin-left: 20%;
}
/* line 60, ../sass/_about-us.scss */
.wrapper .our-ideology .columns .left:before {
  content: '';
  width: 82%;
  height: 115%;
  position: absolute;
  top: -36%;
  left: 0;
  background: #1BF1AD;
  opacity: 0.5;
  z-index: 2;
}
/* line 72, ../sass/_about-us.scss */
.wrapper .our-ideology .columns .right {
  width: 90%;
  margin: 0px auto;
  position: relative;
  z-index: 1;
  padding: 7.4em 0 0 0.5em;
  background-image: url(../images/plus.png);
  background-size: 94% 45%;
  background-repeat: no-repeat;
  background-position: right 88%;
}
/* line 82, ../sass/_about-us.scss */
.wrapper .our-ideology .columns .right .subtitle {
  margin-bottom: 1.4375rem;
}
/* line 85, ../sass/_about-us.scss */
.wrapper .our-ideology .columns .right .main-idea-of-block {
  margin-left: -4px;
}
/* line 87, ../sass/_about-us.scss */
.wrapper .our-ideology .columns .right .main-idea-of-block .finish {
  color: #E98457;
}
/* line 94, ../sass/_about-us.scss */
.wrapper .meet-the-team {
  margin: 9.2% 0 11%;
  position: relative;
}
/* line 97, ../sass/_about-us.scss */
.wrapper .meet-the-team:before {
  content: '';
  width: 35px;
  height: 35px;
  background: transparent;
  position: absolute;
  top: 30%;
  left: 6%;
  border-radius: 50%;
  border: 7px solid #E98457;
}
/* line 108, ../sass/_about-us.scss */
.wrapper .meet-the-team:after {
  content: '';
  position: absolute;
  top: 3%;
  right: 8%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #EBEBEB;
}
/* line 121, ../sass/_about-us.scss */
.wrapper .meet-the-team .confines-width {
  position: relative;
  z-index: 1;
  max-width: 1287px;
}
/* line 126, ../sass/_about-us.scss */
.wrapper .meet-the-team .subtitle {
  margin-bottom: 0.625rem;
}
/* line 129, ../sass/_about-us.scss */
.wrapper .meet-the-team .team {
  margin: 2.5% 0 17%;
}
/* line 131, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner {
  margin: 15px auto;
  padding: 20px 3%;
  -webkit-align-items: center;
  align-items: center;
}
/* line 136, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner .photo {
  width: 90px;
}
/* line 138, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner .photo img {
  max-width: 100%;
  height: auto;
}
/* line 143, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner .personal-info {
  margin-left: 1.5rem;
  letter-spacing: 0;
}
/* line 146, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner .personal-info .name {
  font: 1.25rem "Poppins-Regular", sans-serif;
  color: #303030;
}
/* line 150, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner .personal-info .post {
  font: 1rem "Poppins-Regular", sans-serif;
  color: #666;
  margin-bottom: 0.875rem;
}
/* line 156, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner .personal-info .social-links a {
  padding: 0 5px;
}
/* line 161, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner:nth-child(2) {
  background: #1BF1AD;
}
/* line 163, ../sass/_about-us.scss */
.wrapper .meet-the-team .team .partner:nth-child(2) .name, .wrapper .meet-the-team .team .partner:nth-child(2) .post, .wrapper .meet-the-team .team .partner:nth-child(2) a {
  color: white;
}
/* line 1, ../sass/_products.scss */
.wrapper .products {
  padding: 5% 5px;
}
/* line 3, ../sass/_products.scss */
.wrapper .products .confines-width {
  max-width: 1250px;
}
/* line 6, ../sass/_products.scss */
.wrapper .products .subtitle {
  margin-top: 15px;
}
/* line 9, ../sass/_products.scss */
.wrapper .products .products-gallery {
  margin: 40px auto;
}
/* line 11, ../sass/_products.scss */
.wrapper .products .products-gallery .product {
  overflow: hidden;
}
/* line 13, ../sass/_products.scss */
.wrapper .products .products-gallery .product .caption {
  position: absolute;
  background: #1BF1AD;
  color: #303030;
  font: 1rem "Poppins-SemiBold", sans-serif;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 10%;
  width: 100%;
  height: 100%;
  -webkit-perspective: 200px;
  perspective: 200px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 29, ../sass/_products.scss */
.wrapper .products .products-gallery .product:hover .caption {
  opacity: 0.8;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 1, ../sass/_single-product.scss */
.wrapper .single-product {
  padding: 5% 0;
}
/* line 3, ../sass/_single-product.scss */
.wrapper .single-product .subtitle {
  margin-bottom: 20px;
}
/* line 8, ../sass/_single-product.scss */
.wrapper .single-product .columns .photo-category img {
  max-width: 100%;
}
/* line 13, ../sass/_single-product.scss */
.wrapper .single-product .columns .details .row {
  margin: 10px 0;
}
/* line 15, ../sass/_single-product.scss */
.wrapper .single-product .columns .details .row input[type="radio"] {
  display: none;
}
/* line 18, ../sass/_single-product.scss */
.wrapper .single-product .columns .details .row input[type="radio"]:checked + label:before {
  width: 23px;
  height: 23px;
  top: -1px;
  left: -2px;
  border-color: transparent;
  background-image: url(../images/checkbox-check.svg);
}
/* line 27, ../sass/_single-product.scss */
.wrapper .single-product .columns .details .row label {
  display: inline-block;
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}
/* line 32, ../sass/_single-product.scss */
.wrapper .single-product .columns .details .row label:before {
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  position: absolute;
  content: '';
  background-image: url(../images/check-box-empty.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 43, ../sass/_single-product.scss */
.wrapper .single-product .columns .details .title-row {
  border-top: 1px solid #1BF1AD;
  padding-top: 3%;
  margin: 5% 0 0;
}
/* line 48, ../sass/_single-product.scss */
.wrapper .single-product .columns .details button {
  background: #666;
  color: white;
  width: 100%;
  max-width: 260px;
  letter-spacing: 1px;
  margin: 7% auto 1%;
  font: 1rem "Poppins-Light", sans-serif;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 83, ../sass/_mixins.scss */
.wrapper .single-product .columns .details button:hover {
  background: #1BF1AD;
  border-radius: 20px;
}
/* line 1, ../sass/_footer.scss */
.wrapper #footer {
  background: #FAFAFA;
  border-top: 1px solid #EBEBEB;
  padding: 3.75rem 0;
}
/* line 5, ../sass/_footer.scss */
.wrapper #footer .confines-width {
  max-width: 1225px;
}
/* line 8, ../sass/_footer.scss */
.wrapper #footer .columns-data {
  color: black;
}
/* line 11, ../sass/_footer.scss */
.wrapper #footer .columns-data .main-footer-data .logo {
  border: 1px solid black;
  display: inline-flex;
  display: -webkit-inline-flex;
  padding: 14px 27px;
}
/* line 16, ../sass/_footer.scss */
.wrapper #footer .columns-data .main-footer-data .logo .logo-text {
  color: black;
}
/* line 20, ../sass/_footer.scss */
.wrapper #footer .columns-data .main-footer-data .subtitle {
  font: 1.25rem "Poppins-Bold", sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 1.25rem;
}
/* line 25, ../sass/_footer.scss */
.wrapper #footer .columns-data .main-footer-data .subtitle a {
  color: #1bf1ad;
}
/* line 29, ../sass/_footer.scss */
.wrapper #footer .columns-data .main-footer-data #footer-navigation {
  margin: 2.6em 0;
}
/* line 31, ../sass/_footer.scss */
.wrapper #footer .columns-data .main-footer-data #footer-navigation .footer-navigation-container {
  list-style: none;
}
/* line 33, ../sass/_footer.scss */
.wrapper #footer .columns-data .main-footer-data #footer-navigation .footer-navigation-container li {
  margin: 1em 0;
}
/* line 35, ../sass/_footer.scss */
.wrapper #footer .columns-data .main-footer-data #footer-navigation .footer-navigation-container li a {
  font: 0.875rem "Poppins-Medium", sans-serif;
  text-transform: uppercase;
  color: black;
}
/* line 44, ../sass/_footer.scss */
.wrapper #footer .columns-data .contacts-data {
  margin-top: 1.125rem;
  letter-spacing: 0;
}
/* line 47, ../sass/_footer.scss */
.wrapper #footer .columns-data .contacts-data .social-links a {
  padding: 0 3px;
  font-size: 23px;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 53, ../sass/_footer.scss */
.wrapper #footer .columns-data .contacts-data .contact-line {
  -webkit-align-items: center;
  align-items: center;
}
/* line 56, ../sass/_footer.scss */
.wrapper #footer .columns-data .contacts-data .contact-line span {
  font: 0.8125rem "Poppins-Medium", sans-serif;
  color: black;
  text-transform: uppercase;
}
/* line 60, ../sass/_footer.scss */
.wrapper #footer .columns-data .contacts-data .contact-line span a {
  font: 0.8125rem "Poppins-Medium", sans-serif;
  color: black;
  text-transform: uppercase;
}
/* line 65, ../sass/_footer.scss */
.wrapper #footer .columns-data .contacts-data .contact-line span.icon-phone, .wrapper #footer .columns-data .contacts-data .contact-line span.icon-mail {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
/* line 1, ../sass/_cart.scss */
.wrapper .cart {
  padding: 4% 0 0;
  background: url(../images/plus.png);
  background-size: 80% auto;
  background-position: 90% 60%;
  background-repeat: no-repeat;
}
/* line 7, ../sass/_cart.scss */
.wrapper .cart .subtitle {
  margin-bottom: 3%;
}
/* line 10, ../sass/_cart.scss */
.wrapper .cart .cart-container {
  padding-bottom: 70px;
}
/* line 12, ../sass/_cart.scss */
.wrapper .cart .cart-container .product {
  border-bottom: 1px solid black;
  padding: 2% 0;
  position: relative;
}
/* line 16, ../sass/_cart.scss */
.wrapper .cart .cart-container .product .delete {
  position: absolute;
  cursor: pointer;
  top: calc(50% - 10px);
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../images/rubbish-bin.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 27, ../sass/_cart.scss */
.wrapper .cart .cart-container .button-checkout {
  background: #666;
  color: white;
  width: 100%;
  max-width: 260px;
  letter-spacing: 1px;
  margin: 7% auto 1%;
  font: 1rem "Poppins-Light", sans-serif;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 83, ../sass/_mixins.scss */
.wrapper .cart .cart-container .button-checkout:hover {
  background: #1BF1AD;
  border-radius: 20px;
}

@media (min-width: 420px) {
  /* line 3, ../sass/_resize.scss */
  .wrapper .cart .cart-container .product {
    display: -webkit-flex;
    display: flex;
  }
  /* line 6, ../sass/_resize.scss */
  .wrapper .cart .cart-container .product div {
    width: 23%;
    padding: 10px 15px 10px 0;
  }
  /* line 10, ../sass/_resize.scss */
  .wrapper .cart .cart-container .product .name {
    width: 30%;
  }
}
@media (min-width: 640px) {
  /* line 18, ../sass/_resize.scss */
  html {
    font-size: 88%;
  }

  /* line 22, ../sass/_resize.scss */
  .wrapper #header .confines-width #burger {
    display: none;
  }
  /* line 27, ../sass/_resize.scss */
  .wrapper .first-screen .main-title {
    text-align: center;
  }
  /* line 30, ../sass/_resize.scss */
  .wrapper .first-screen .main-navigation {
    position: absolute;
    bottom: 13px;
    top: auto;
    transform: none;
    background: transparent;
    min-height: auto;
    width: 90%;
    left: 5%;
  }
  /* line 39, ../sass/_resize.scss */
  .wrapper .first-screen .main-navigation .main-navigation-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }
  /* line 44, ../sass/_resize.scss */
  .wrapper .first-screen .main-navigation .main-navigation-container li {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 47, ../sass/_resize.scss */
  .wrapper .first-screen .main-navigation .main-navigation-container li a {
    color: white;
  }
  /* line 56, ../sass/_resize.scss */
  .wrapper .single-product .columns .details .prices .row {
    display: inline-block;
    margin-right: 20px;
  }
  /* line 61, ../sass/_resize.scss */
  .wrapper .single-product .columns .details button {
    max-width: 190px;
    margin-left: 0;
  }
  /* line 66, ../sass/_resize.scss */
  .wrapper .cart {
    background-size: 60% auto;
    background-position: 75% 70%;
  }
  /* line 69, ../sass/_resize.scss */
  .wrapper .cart .cart-container {
    padding-bottom: 130px;
  }
  /* line 71, ../sass/_resize.scss */
  .wrapper .cart .cart-container .button-checkout {
    margin-left: 0;
    float: right;
    max-width: 190px;
  }
  /* line 78, ../sass/_resize.scss */
  .wrapper .meet-the-team .team {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 83, ../sass/_resize.scss */
  .wrapper .meet-the-team .team .partner {
    width: 45%;
  }
  /* line 88, ../sass/_resize.scss */
  .wrapper #footer .columns-data .main-footer-data div:first-child {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  /* line 92, ../sass/_resize.scss */
  .wrapper #footer .columns-data .main-footer-data div:first-child .subtitle {
    margin-left: 20px;
  }
  /* line 96, ../sass/_resize.scss */
  .wrapper #footer .columns-data .main-footer-data #footer-navigation .footer-navigation-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 100, ../sass/_resize.scss */
  .wrapper #footer .columns-data .main-footer-data #footer-navigation .footer-navigation-container li {
    margin: 0 1em;
  }
}
@media (min-width: 916px) {
  /* line 109, ../sass/_resize.scss */
  html {
    font-size: 100%;
  }

  /* line 113, ../sass/_resize.scss */
  .wrapper .single-product .columns {
    display: -webkit-flex;
    display: flex;
  }
  /* line 116, ../sass/_resize.scss */
  .wrapper .single-product .columns .photo-category {
    width: 40%;
  }
  /* line 119, ../sass/_resize.scss */
  .wrapper .single-product .columns .details {
    padding-left: 8%;
    width: 50%;
  }
  /* line 122, ../sass/_resize.scss */
  .wrapper .single-product .columns .details .prices {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  /* line 124, ../sass/_resize.scss */
  .wrapper .single-product .columns .details .prices .row {
    margin-right: 0;
  }
  /* line 130, ../sass/_resize.scss */
  .wrapper .contact-us .confines-width {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  /* line 134, ../sass/_resize.scss */
  .wrapper .contact-us .confines-width .information {
    width: 40%;
  }
  /* line 137, ../sass/_resize.scss */
  .wrapper .contact-us .confines-width .contact-form-container {
    width: 50%;
  }
  /* line 142, ../sass/_resize.scss */
  .wrapper .meet-the-team .team .partner {
    width: 30%;
  }
  /* line 146, ../sass/_resize.scss */
  .wrapper .our-ideology .columns {
    display: -webkit-flex;
    display: flex;
  }
  /* line 149, ../sass/_resize.scss */
  .wrapper .our-ideology .columns .left {
    width: 43%;
  }
  /* line 151, ../sass/_resize.scss */
  .wrapper .our-ideology .columns .left .tagline {
    float: right;
    margin-left: 0;
    max-width: 443px;
  }
  /* line 157, ../sass/_resize.scss */
  .wrapper .our-ideology .columns .right {
    width: 54%;
    margin: 0 0 0 3%;
    padding-right: 5%;
    background-size: 94% 37%;
    background-position: right 53%;
  }
  /* line 163, ../sass/_resize.scss */
  .wrapper .our-ideology .columns .right .main-idea-of-block {
    max-width: 600px;
  }
  /* line 168, ../sass/_resize.scss */
  .wrapper .our-featured-work #gift-slider {
    margin-left: 7%;
  }
  /* line 173, ../sass/_resize.scss */
  .wrapper .meet-the-team .team .partner .photo {
    width: 160px;
  }
  /* line 178, ../sass/_resize.scss */
  .wrapper #footer .columns-data {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  /* line 183, ../sass/_resize.scss */
  .wrapper #footer .columns-data .main-footer-data div:first-child {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  /* line 187, ../sass/_resize.scss */
  .wrapper #footer .columns-data .main-footer-data div:first-child .subtitle {
    margin-top: 0;
    margin-left: 3.125rem;
  }
}
@media (min-width: 1600px) {
  /* line 199, ../sass/_resize.scss */
  .wrapper .our-ideology .columns .left .tagline {
    font-size: 3.125rem;
  }
  /* line 202, ../sass/_resize.scss */
  .wrapper .text-block .text {
    font-size: 1.75rem;
  }

  /* line 206, ../sass/_resize.scss */
  .main-idea-of-block {
    font-size: 4.6875rem;
  }
}
