 .text-block {
		width: 87%;
		max-width: 700px;
		margin: 0 auto 4.15%; 
		padding: 5.15% 0 1.5rem;
		text-align: center;
		.subtitle { 
			margin-bottom: remy(28);	
		}
		.text {
			font: remy(22) $light;
			color: $light-grey;
			letter-spacing: 1.6px;
		}
	}
	.our-ideology {
		.columns {
			position: relative;
				&:before {
					content: '';
					width: 40px; 
					height: 40px;
					background: transparent;
					position: absolute;
					top: 15%;
					right: 6%;
					border-radius: 50%;
					border: 7px solid $orange;
				}
				&:after {
					content: '';
					width: 75px; 
					height: 75px;
					background: transparent;
					position: absolute;
					top: 4%;
					right: 22%;
					border-radius: 50%;
					border: 9px solid $footer-bt;
				}
			.left {
				margin-top: 13em;
				position: relative;
				z-index: 1;
				background-image: url(../images/ideology.png);
				@include bg();
				.tagline {
					font: remy(26) $semibold;
					color: $dark-grey;
					width: 80%; 
					position: relative;
					z-index: 2;
					max-width: 250px;
					padding: 3.8em .5em .5em 0; 
					line-height: 1.2;
					letter-spacing: 0px;
					min-height: 300px;
					margin-left: 20%;
				}
				&:before {
					content: '';
					width: 82%;
					height: 115%;
					position: absolute;
					top: -36%;
					left: 0;
					background: $green;
					opacity: 0.5;
					z-index: 2;
				}
			}
			.right {
				width: 90%;
				margin: 0px auto;
				position: relative;
				z-index: 1;
				padding: 7.4em 0 0 0.5em;
				background-image: url(../images/plus.png);
				background-size: 94% 45%;
				background-repeat: no-repeat;
				background-position: right 88%;
				.subtitle {
					margin-bottom: remy(23);
				}
				.main-idea-of-block {
					margin-left: -4px;
					.finish {
						color: $orange;
					}
				}
			}
		}
	}
	.meet-the-team {
		margin: 9.2% 0 11%;
		position: relative;
		&:before {
			content: '';
			width: 35px; 
			height: 35px;
			background: transparent;
			position: absolute;
			top: 30%;
			left: 6%;
			border-radius: 50%;
			border: 7px solid $orange;
		}
		&:after {
			content: '';  
			position: absolute;
			top: 3%;
			right: 8%; 
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 40px solid $footer-bt;  


		}
		.confines-width {
			position: relative;
			z-index: 1;
			max-width: 1287px;
		}
		.subtitle {
			margin-bottom: remy(10);
		}
		.team {
			margin: 2.5% 0 17%;
			.partner {
				margin: 15px auto;
				padding: 20px 3%;
				@extend .flex;
				@include alignItems(center);
				.photo {
					width: 90px;
					img {
						max-width: 100%;
						height: auto;
					}
				}
				.personal-info {
					margin-left: remy(24);
					letter-spacing: 0;
					.name {
						font: remy(20) $regular;
						color: $dark-grey;
					}
					.post {
						font: remy(16) $regular;
						color: $light-grey;
						margin-bottom: remy(14);
					}
					.social-links {
						a {
							padding: 0 5px;
						}
					}
				}
				&:nth-child(2) {
					background: $green; 
					.name, .post, a {
						color: $lightColor;
					}
				}
			}
		}
	}