.cart {
	padding: 4% 0 0;
	background: url(../images/plus.png);
	background-size: 80% auto;
	background-position: 90% 60%;
	background-repeat: no-repeat; 
	.subtitle {
		margin-bottom: 3%;
	}
	.cart-container {
		padding-bottom: 70px;
		.product { 
			border-bottom: 1px solid $dark; 
			padding: 2% 0;
			position: relative;
			.delete {
				position: absolute;
				cursor: pointer;
				top: calc(50% - 10px);
				right: 10px;
				width: 20px;
				height: 20px;
				background-image: url(../images/rubbish-bin.svg);
				@include bg();
			}
		}
		.button-checkout {
			@include button();  
		}
	}
}