.contact-us {
	padding: 20px 0 0;
	#google-map {
		height: 400px;
		width: 100%;
		margin: 20px 0 0;
	}
	.subtitle {
		margin-bottom: 10px;
	}
	.contact-form-container {
		#contact-form {
			max-width: 500px; 
			padding: 0px 0 60px;
			button {
				background: $green;
				border: none;
				color: $lightColor;
				width: 150px;
				height: 40px;
				font: remy(16) $regular;
				text-transform: uppercase;
				float: right;
				cursor: pointer;
				@include trans();
				&:hover {
					border-radius: 20px;
				}
			}
		}
	}
}