#footer {
	background: $footer-bg;
	border-top: 1px solid $footer-bt;
	padding: remy(60) 0;
	.confines-width {
		max-width: 1225px;
	}
	.columns-data { 
		color: black;
		.main-footer-data {
			.logo {
				border: 1px solid $dark;
				display: inline-flex;
				display: -webkit-inline-flex;
				padding: 14px 27px;
				.logo-text {
					color: $dark;
				}
			}
			.subtitle {
				font: remy(20) $bold; 
				letter-spacing: 2.5px;
				text-transform: uppercase;
				margin-top: remy(20);
				a {
					color: $link-hover;
				}
			}
			#footer-navigation {
				margin: 2.6em 0;
				.footer-navigation-container {
					list-style: none;
					li {
						margin: 1em 0;
						a {
							font: remy(14) $medium;
							text-transform: uppercase;
							color: $dark;
						}
					}
				}
			}
		}
		.contacts-data {
			margin-top: remy(18);
			letter-spacing: 0;
			.social-links a {
				padding: 0 3px;
				font-size: 23px;
				display: inline-block;
				margin-bottom: 10px;
			}
			.contact-line {
				@extend .flex;
				@include alignItems(center);
				span {
					font: remy(13) $medium;
					color: $dark;
					text-transform: uppercase;
					a {						
						font: remy(13) $medium;
						color: $dark;
						text-transform: uppercase;
					}
					&.icon-phone, &.icon-mail {
						font-size: 20px;
						margin-right: 5px;
						margin-left: 5px;
					}
				}
			}
		}
	}
}