#header, #footer {
	width: 100%;  
	.logo {
		@extend .flex;
		@include alignItems(center);
		.logo-text {
			text-transform: uppercase;
			font: remy(18) $semibold;				
			color: white;
			margin-left: 12px;
			letter-spacing: 3.4px;
		}
	}
}
#header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	.confines-width {
		height: 94px;
		@extend .flex;
		@include alignBoth(space-between, center);
		#burger { 
			width: 30px;
			height: 22.5px;
			-webkit-transform: rotate(0deg); 
		    transform: rotate(0deg);
		    -webkit-transition: .5s ease-in-out;  
		    transition: .5s ease-in-out;
		    cursor: pointer;
			span {
			  display: block;
			  position: absolute;
			  height: 4.5px;
			  width: 50%;
			  background: white;
			  opacity: 1;       
			  left: 0; 
			  -webkit-transform: rotate(0deg); 
			  transform: rotate(0deg);
			  -webkit-transition: .25s ease-in-out; 
			  -o-transition: .25s ease-in-out;
			  transition: .25s ease-in-out;
			}
			& span:nth-child(even) {
			  left: 50%; 
			}

			& span:nth-child(odd) {
			  left: 0px;  
			}

			& span:nth-child(1), & span:nth-child(2) {
			  top: 0px;
			}

			& span:nth-child(3), & span:nth-child(4) {
			  top: 9px;
			}

			& span:nth-child(5), & span:nth-child(6) {
			  top: 18px;
			} 
		}			
	}
}


body.open-menu { 
	overflow: hidden;
	.wrapper {
		#header .confines-width #burger {
			span:nth-child(1), span:nth-child(6) {
			  -webkit-transform: rotate(45deg); 
			  transform: rotate(45deg);
			}

			span:nth-child(2), span:nth-child(5) {
			  -webkit-transform: rotate(-45deg); 
			  transform: rotate(-45deg);
			}

			span:nth-child(1) {
			  left: 2.5px;
			  top: 4.5px;
			}

			span:nth-child(2) {
			  left: calc(50% - 2.5px);
			  top: 3.5px;
			}

			span:nth-child(3) {
			  left: -50%;
			  opacity: 0;
			}

			span:nth-child(4) {
			  left: 100%;
			  opacity: 0;
			}

			span:nth-child(5) {
			  left: 4px;
			  top: 13.5px;
			}

			span:nth-child(6) {
			  left: calc(50% - 3px);
			  top: 13.5px;
			}
		} 
		.main-navigation {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
}