 $light-grey: #666;
 $dark-grey: #303030; 
 $footer-bg: #FAFAFA;
 $footer-bt: #EBEBEB;
 $link-hover: #1bf1ad;
 $dark: black;
 $lightColor: white;
 $green: #1BF1AD;
 $orange: #E98457;
 
/* ------------- MIXINS --------------*/
  
.confines-width {
	width: 90%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
 
@mixin justCont($value) {
	-webkit-justify-content: $value;
	justify-content: $value;
}

@mixin alignItems($value) {
	-webkit-align-items: $value;
	align-items: $value;
}

@mixin alignBoth($value1, $value2) {
	-webkit-justify-content: $value1;
	justify-content: $value1;
	-webkit-align-items: $value2;
	align-items: $value2;
}

@mixin flexWrap($value) {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flexDir($value) {
	-webkit-flex-direction: $value;
	flex-direction: $value;
} 

@mixin trans($time: 0.3s, $objects: all) {
	-webkit-transition: $time $objects;
	transition: $time $objects;
} 

@mixin bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
} 

@mixin linkAnimation($color) {
	padding-bottom: 15px;
	border-bottom: 1px solid transparent;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	&:hover {
		padding-bottom: 4px;
		border-color: $color;
	}
}

@mixin button() {
	background: $light-grey;					
	color: $lightColor;
	width: 100%;
	max-width: 260px;
	letter-spacing: 1px;
	margin: 7% auto 1%;
	font: remy(16) $light;
	border: none;
	display: block;
	text-align: center;
	cursor: pointer;
	padding: 10px;
	@include trans();
	&:hover {
		background: $green;
		border-radius: 20px;
	}
}

@function remy($pxsize) {
	@return ($pxsize/16)+rem;
}

$large-screen-width: 1600px;
$desktop-width: 916px;
$tablet-width: 640px;
$mobile-width: 420px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
	@media (min-width: #{$mobile-width}) {
	    @content;
	}	
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: #{$large-screen-width}) {
    @content;
  }
}
 
//  @extend 
.flex {
	display: -webkit-flex;
	display: flex;
}
 