.products {
	padding: 5% 5px; 
	.confines-width {
		max-width: 1250px;
	}
	.subtitle {
		margin-top: 15px;
	}
	.products-gallery {
		margin: 40px auto;
		.product { 
			overflow: hidden;
			.caption {
				position: absolute; 
				background: $green;
				color: $dark-grey;
				font: remy(16) $semibold;
				@extend .flex;
				@include alignItems(center);
				padding-left: 10%;
				width: 100%;
				height: 100%;
				-webkit-perspective: 200px;
				perspective: 200px;
				-webkit-transform: translateY(100%);
				transform:  translateY(100%);
				@include trans(all, 0.5s);
			}
			&:hover .caption { 
				opacity: 0.8;
				-webkit-transform: translateY(0%);
				transform: translateY(0%);
			}
		}
	}
}