@include mobile() {
	.wrapper  .cart	.cart-container {  
		.product {
			display: -webkit-flex;
			display: flex; 
			div {
				width: 23%;
				padding: 10px 15px 10px 0;
			}
			.name {
				width: 30%;
			} 
		} 
	}
}

@include tablet() {
	html {
		font-size: 88%;
	}
	.wrapper {
		#header .confines-width #burger {
			display: none;
		}

		.first-screen {
			.main-title {
				text-align: center;
			}
			.main-navigation {
				position: absolute;
				bottom: 13px;
				top: auto;
				transform: none;
				background: transparent; 
				min-height: auto;
				width: 90%;
				left: 5%;
				.main-navigation-container {
					display: -webkit-flex;
					display: flex;
					@include flexWrap(wrap);
					@include justCont(center);
					li {
						margin-top: 0;
						margin-bottom: 0;
						a {
						color: $lightColor;
						}
					}
				}
			}
		}
		.single-product .columns .details {			
			.prices { 
				.row {
					display: inline-block;
					margin-right: 20px;
				}
			}
			button {
				max-width: 190px;
				margin-left: 0;
			}
		}
		.cart {
			background-size: 60% auto;
			background-position: 75% 70%;
			.cart-container {
				padding-bottom: 130px;
				.button-checkout {
					margin-left: 0;
					float: right;
					max-width: 190px;
				} 
			}
		}
		.meet-the-team .team {
			display: -webkit-flex;
			display: flex;
			@include justCont(space-between);
			@include flexWrap(wrap);
			.partner {
				width: 45%;
			}
		}
		#footer .columns-data .main-footer-data {
			div:first-child {
				display: -webkit-flex;
				display: flex;
				@include alignItems(center);
				.subtitle {
					margin-left: 20px;
				}
			}
			#footer-navigation .footer-navigation-container {
				display: -webkit-flex;
				display: flex;
				@include flexWrap(wrap);
				li {
					margin: 0 1em;
				}
			} 	
		}
	}
}

@include desktop() {
	html {
		font-size: 100%;
	}
	.wrapper {  
		.single-product .columns {
			display: -webkit-flex;
			display: flex;
			.photo-category {
				width: 40%;
			}
			.details {
				padding-left: 8%;
				width: 50%;
				.prices { 
					@include justCont(space-between);
					.row {
						margin-right: 0;
					}
				}
			}
		}
		.contact-us .confines-width {
			display: -webkit-flex;
			display: flex;
			@include justCont(space-between);
			.information {
				width: 40%;
			}
			.contact-form-container {
				width: 50%;
			}
		}
		.meet-the-team .team { 
			.partner {
				width: 30%;
			}
		}
		.our-ideology .columns {
			display: -webkit-flex;
			display: flex;
			.left {
				width: 43%;
				.tagline {
					float: right;
					margin-left: 0;
					max-width: 443px;
				}
			}
			.right {
				width: 54%;
				margin: 0 0 0 3%;
				padding-right: 5%;				
				background-size: 94% 37%; 
				background-position: right 53%;
				.main-idea-of-block {
					max-width: 600px;
				}
			}
		}
		.our-featured-work #gift-slider {
			margin-left: 7%;
		}
		.meet-the-team .team {
			.partner {
				.photo {
					width: 160px;
				}
			}
		}
		#footer .columns-data {
			display: -webkit-flex;
			display: flex;
			@include justCont(space-between);
			.main-footer-data {
				div:first-child {
					display: -webkit-flex;
					display: flex;
					@include alignItems(center);
					.subtitle {
						margin-top: 0;
						margin-left: remy(50);
					}
				}
			}
		}
	}
}
 
@include large-screen() {
	.wrapper {
		.our-ideology .columns .left .tagline {
			font-size: remy(50);
		}
		.text-block .text {
			font-size: remy(28);
		}
	}
	.main-idea-of-block {
		font-size: remy(75);
	} 
}