.single-product {
	padding: 5% 0;
	.subtitle {
		margin-bottom: 20px;
	}	
	.columns {
		.photo-category { 
			img {
				max-width: 100%;
			}
		}
		.details {			
			.row {
				margin: 10px 0; 
				input[type="radio"] {
					display: none;
					&:checked+label {
						 &:before {
						 	width: 23px;
						 	height: 23px;
						 	top: -1px; left: -2px;
						 	border-color: transparent;
						 	background-image: url(../images/checkbox-check.svg); 
						 }
					}
				}
				label {  
					display: inline-block; 
					cursor: pointer;
					padding-left: 30px;
					position: relative;  
					&:before {
						width: 20px;
						height: 20px;
						left: 0; top: 0;
						position: absolute; 
						content: ''; 
						background-image: url(../images/check-box-empty.svg);
						@include bg(); 
					}
				}
			}	
			.title-row {
				border-top: 1px solid $green;
				padding-top: 3%;
				margin: 5% 0 0;
			}		
			button {
				@include button();
			}
		}
	}	 
}