@import "fonts.scss";
@import "mixins.scss";
@import "header.scss";
@import "auth.scss"; 


.subtitle {	
	font: remy(18) $semibold;
	text-transform: uppercase;
	color: $dark-grey;
	letter-spacing: 3.7px;
}

.main-idea-of-block{	
	font: remy(35) $bold;
	text-transform: uppercase;
	color: $dark;
	letter-spacing: 0;
	line-height: 1.05;
}

@import "contact-us.scss";  

html {
	font-size: 80%;
}
.content-main-page {
	background: url(../images/lines.png);
	background-position: center; 
}
.wrapper { 
	letter-spacing: 2px;
	line-height: 1.571;
	background: white;
	font-family: $regular, sans-serif;  
	.first-screen {
		height: 61vh;
		min-height: 300px;
		position: relative;
		background: url(../images/first-screen-bg.jpg);
		padding: 0 5%;
		color: $lightColor;
		@include bg();
		@extend .flex;
		@include alignBoth(center, center);
		.main-title { 
			max-width: 670px;
			text-transform: uppercase; 
			font: remy(38) $regular;
			line-height: 1.2;
			margin-top: remy(25);
			letter-spacing: 7.5px;
		}
		.main-navigation {
			position: fixed;
			left: 0;
			top: 80px;
			width:  100%; 
			background: white;
			min-height: 100vh;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			@include trans();
			.main-navigation-container {
				list-style: none;
				width: 100%; 
				padding: 1em;
				li {
					padding: 0 .4em;
					margin: 1.4em 1.1em;
				}
				a {
					color: $dark-grey;
					font: remy(16) $regular;
					text-transform: uppercase;
					letter-spacing: 2.2px;
				}
				li.active a {
					font-family: $bold;
				}
			}
		}
	}
	
	.our-featured-work {
		text-align: center; 
		padding-bottom: 40px;
		.subtitle {
			 width: 90%;
			 margin: 0 auto remy(17);
		}
		.main-idea-of-block { 
			 width: 90%;
			 max-width: 1100px;	
			 margin: remy(17) auto remy(84);		 
		}
		#gift-slider {
			position: relative;
			.slide { 
				padding: 0 10px;
				border: none;
				outline: none;
				img {
					max-width: 100%;
					height: 100%;
					width: 100%;
					-webkit-object-fit: cover;
					object-fit: cover;
				}
			}
		}
	}
	@import "about-us.scss"; 
	@import "products.scss"; 
	@import "single-product.scss";  
	@import "footer.scss";
	@import "cart.scss";
}

@import "resize.scss";